$ cat .gitignore

# Ignore these patterns
desktop.ini
RegexAssistant_h.h
RegexAssistant_i.c
~AutoRecover*.*
*.aps
*.exe
*.idb
*.ipch
*.lib
*.log
*.manifest
*.obj
*.pch
*.pdb
*.sdf
*.suo
*.tlog
*.user
*.zip
/boost
/scintilla
/bin
/.vs
/enc_temp_folder
/RegexLibs
*.aps
RegexAssistant.7z
Docs/ProjectImages/RegexAssistant_DefaultStartupScreenSet2.png
Wix.xml
PaternsExamplesToAdd.txt
*.7z
*.swp
